body{
    background-color: Skyblue;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%; 
    margin-bottom: 0%;
    }

#empresa{
  color: red;
  font: arial;
}
h1{
  color: red;
}
 
h2{
  font-family: sans-serif;
  }
  
p{
	font-family: monospace;
	text-align: left;
	}
	
h3{
  color: red;
	}
  
.imagem{
  display: table-cell;
  float: left;
}

.paragrafo{
  display: table-cell;
  float: left;
  width: 675px;
  margin-left: 10px;
  font-family: arial;
}

.corpo{
  display: table;
  font-family: arial;
}
